<app-header></app-header>
<div class="spacer"></div>
<div class="container">
    <div data-testid="homepage-banner" class="carousel slide mb-5" data-bs-ride="carousel" > 
            <div class="carousel-inner">
            <div class="carousel-item active" >
                <img src="assets/images/category/tv.png" style="height:400px;" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/category/furniture.jpg" style="height:400px;" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/category/electronics.png" style="height:400px;" class="d-block w-100" alt="...">
            </div> 
            </div> 
    </div> 

        <div class="row row-cols-1 row-cols-md-3"><!--3 columns-->
            <div *ngFor="let category of randomCategories" class="col mb-3">
            <div data-testid="homepage-category" class="card">
                {{category.name}}
                <a routerLink="categories/{{category.id}}"><img src="{{category.image}}" style="border-radius: 15px; height: 200px" class="card-img-top" alt="..."></a>
            </div>
            </div>
        </div>

        <h2>Top Products</h2>
        <div  class="row row-cols-1 row-cols-md-4"><!--4 columns-->
        <ng-container *ngFor="let product of topProducts">
            <div data-testid="homepage-product" class="col mb-3">

                <div *ngIf="product.name=='Class FHD (1080P) LED Roku'; else falsecondition" class="card" >
                    <figure class="figure tag tag-televisions">
                        <img src="{{product.image}}" id ="img-top-products" style="height: 180px" class="card-img-top" alt="...">
                        <div class="card-body" id="body-top-products">
                            <h5>{{product.price | currency}} </h5><button type="button" class="pull-right" class="btn btn-primary" (click)="addToCart(product)">Add to cart</button>
                        </div>
                        <div>{{product.name}}</div>
                    </figure>
                </div>
                <ng-template #falsecondition>
                    <div class="card" >
                        <figure class="figure">
                            <img src="{{product.image}}" id ="img-top-products" style="height: 180px" class="card-img-top" alt="...">
                            <div class="card-body" id="body-top-products">
                                <h5>{{product.price | currency}} </h5><button type="button" class="pull-right" class="btn btn-primary" (click)="addToCart(product)">Add to cart</button>
                            </div>
                            <div>{{product.name}}</div>
                        </figure>
                    </div>
                </ng-template>
            </div>


        </ng-container>
        </div><!--4 columns-->

    <div class="spacer"></div>

</div>

<app-footer></app-footer>