<nav class="navbar navbar-expand-lg navbar-light  bg-warning">
    <div class="container-fluid" >
      <a class="navbar-brand" style="padding-left: 5rem;" routerLink="/" >Shop 24x7</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/" aria-current="page" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control " type="search" placeholder="Search Products" aria-label="Search">
          <a routerLink="/cart"><img src="assets/images/cart.png" style="padding-right: 5rem; padding-left: 5rem;"></a>
         <!--  <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
      </div>
    </div>
  </nav>
